.presentationInputPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%
}

.uploading {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.spinner {
    margin-right: 10px;
}
